p{
  color:blue;
  font-family: aakar;
  font-size: 30px;
}
img{
  width:100px ;
  height:150px ;
  border-radius: 50px;
  text-align: center;
}
button{
  color: red;
  padding:15px ;
  font-size:16px;
  background: aqua;
  border: 0;
  text-align: center;
}
td,th{
  border:2px solid red;
  color:blue;
  border-collapse:collapse;
  margin:2px;

}
table{
  width:100%;
  border-collapse:collapse;
}
li{
  color:red;
  margin:10px;
}
ul li{
  color:blue;
}
